.drgf-admin__wrap {
	margin: 50px 35px;
	max-width: 960px;
}

.drgf-admin__wrap p {
	font-size: 16px;
	line-height: 1.6;
	margin-top: 0;
	font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}

.drgf-admin__wrap h3 {
	font-size: 1.1rem !important;
	margin: 1.5em 0 1em;
	font-weight: bold;
}

.drgf-admin__content {
	background: #fff;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 740px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
}

.drgf-admin__content__header {
	border-top: 5px solid #b43534;
	border-radius: 5px 5px 0 0;
}

.drgf-admin__content__header h1 {
	font-size: 24px;
	padding: 50px 50px 0;
	margin: 0;
}

.drgf-admin__content__inner {
	padding: 25px 50px 50px;
}

.drgf-admin__button.button {
	color: #fff;
	border-color: #a10000;
	background: #a10000;
	padding: 4px 16px;
	font-size: 16px;
	font-weight: 600;
	height: auto;
}

.drgf-admin__button.button:hover {
	color: #fff;
	border-color: #a10000;
	background: #a10000;
	padding: 4px 16px;
}

@media only screen and (max-width: 960px) {
	.drgf-admin__content {
		max-width: 98%;
		float: none;
	}

	.drgf-admin__wrap {
			margin: 1%;
	}
}
